@import "/src/styles/variables.scss";

.post {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  font-style: normal;
  width: 320px;
  height: 143px;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 14px 23px 17px 34px;
  margin: auto;

  &:hover {
    .content {
      border-radius: 10px;
      white-space: normal;
      transform: scale(1.1);
      transition: transform 0.5s;
      overflow: auto;
    }
  }

  .head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-weight: 700;
    text-transform: capitalize;
    color: $text-color;
    margin-bottom: 4px;

    .title {
      font-size: 17px;
      line-height: 23px;
    }
    .date {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .content {
    display: block;
    scrollbar-color: rgba(13, 30, 75, 1) transparent;
    scrollbar-width: thin;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.41);
    &::-webkit-scrollbar {
      background: transparent;
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(13, 30, 75, 1);
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
