@import "../../styles/variables.scss";

.posts {
  .wrapper {
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 16px 0 33px 0;
  }

  &_title {
    font-family: "Alegreya Sans SC";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    color: $text-color;
    margin-bottom: 15px;
  }

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.public {
  .wrapper {
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding: 23px 0 41px 0;
  }
  &_title {
    font-family: "Alegreya Sans SC";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    color: $text-color;
    margin-bottom: 15px;
  }
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.posts_slider {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    max-width: 410px;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 330px;
  }
}
