@import "../../../../styles/variables.scss";

.main {
  background: no-repeat
      linear-gradient(
        0deg,
        #000000 0%,
        rgba(0, 0, 0, 0.55) 23.22%,
        rgba(0, 0, 0, 0.14) 42.37%,
        rgba(0, 0, 0, 0) 56.3%
      ),
    no-repeat url(../../../../assets/images/main-screen.png);
  background-size: cover;
  height: 509px;
}
.main_wrapper {
  padding: 190px 0 45px;
}

.info {
  padding: 37px 0 66px;
  text-align: center;
  background: no-repeat
    radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 100% 80%;

  .title,
  .date {
    font-family: "Alegreya Sans SC";
    font-style: normal;
    font-weight: 700;
    color: $secondary-color;
  }
  .title {
    font-size: 50px;
    line-height: 60px;
  }
  .date {
    font-size: 30px;
    line-height: 36px;
  }
}

.ticket {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button_version {
    padding: 11px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $text-color;
  }

  .arrow_left,
  .arrow_right {
    width: 40px;
    height: 40px;
    position: relative;

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .arrow_left {
    border: 1px solid $secondary-color;
    background: transparent;
  }
  .arrow_right {
    background-color: $secondary-color;
  }
}
